<?php echo $header; ?>
<?php if ($success) { ?>
<div class="success"><?php echo $success; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
<?php } ?>
<section>
  <div class="container bn">
    <div id="carousel-example-generic" class="carousel slide carousel-fade">
          <img style="width: 97.6%;" src="catalog/view/theme/ucsilver/stylesheet/images/stores-bn.jpg">
    </div>
  </div>
  <div class="container cl">
    <div class="row">
      <div class="tab-bg">
        <div class"col-md-12">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#boutique" data-toggle="tab">
                <?php echo $heading_title; ?></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="boutique">
              <div class="row">
                <div class="col-md-3">
                  <?php echo $column_left; ?>
                  <?php //echo $column_right; ?></div>
                <div class="col-md-9">
                  <!-- register form -->
				    <h1><?php echo $heading_title; ?></h1>
					<?php if ($products) { ?>
						<div class="wishlist-info">
							<table>
							  <thead>
								<tr>
								  <td class="image"><?php echo $column_image; ?></td>
								  <td class="name"><?php echo $column_name; ?></td>
								  <td class="model"><?php echo $column_model; ?></td>
								  <td class="stock"><?php echo $column_stock; ?></td>
								  <td class="price"><?php echo $column_price; ?></td>
								  <td class="action"><?php echo $column_action; ?></td>
								</tr>
							  </thead>
							  <?php foreach ($products as $product) { ?>
							  <tbody id="wishlist-row<?php echo $product['product_id']; ?>">
								<tr>
								  <td class="image"><?php if ($product['thumb']) { ?>
									<a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" /></a>
									<?php } ?></td>
								  <td class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></td>
								  <td class="model"><?php echo $product['model']; ?></td>
								  <td class="stock"><?php echo $product['stock']; ?></td>
								  <td class="price"><?php if ($product['price']) { ?>
									<div class="price">
									  <?php if (!$product['special']) { ?>
									  <?php echo $product['price']; ?>
									  <?php } else { ?>
									  <s><?php echo $product['price']; ?></s> <b><?php echo $product['special']; ?></b>
									  <?php } ?>
									</div>
									<?php } ?></td>
								  <td class="action"><img src="catalog/view/theme/default/image/cart-add.png" alt="<?php echo $button_cart; ?>" title="<?php echo $button_cart; ?>" onclick="addToCart('<?php echo $product['product_id']; ?>');" />&nbsp;&nbsp;<a href="<?php echo $product['remove']; ?>"><img src="catalog/view/theme/default/image/remove.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" /></a></td>
								</tr>
							  </tbody>
							  <?php } ?>
							</table>
						</div>
						<div class="buttons">
							<div class="right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
						</div>
						<?php } else { ?>
						<div class="content">
							<?php echo $text_empty; ?>
						</div>
						<div class="buttons">
							<div class="right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
						</div>
					  <?php } ?>
                  <!--end register form --> 
				</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<?php echo $footer; ?>