<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
								
				<div class="main-footer clearfix">
						<div class="col-md-6">
							<ul class="social-media">
								<li>
									<a href="">
									<img src="catalog/view/theme/ucsilver/stylesheet/images/fb.png"></a>
								</li>
								<li>
									<a href="">
									<img src="catalog/view/theme/ucsilver/stylesheet/images/pluss.png"></a>
								</li>
								<li>
									<a href="">
									<img src="catalog/view/theme/ucsilver/stylesheet/images/rss.png"></a>
								</li>
								<li>
									<a href="">
									<img src="catalog/view/theme/ucsilver/stylesheet/images/tw.png"></a>
								</li>
								<li>Copyright UC Silver Bali. All rights reserved.</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="footer-nav">
								<li><a href="http://new.ucsilverbali.com/news/" class="menu-image-title-">NEWS</a></li>
								<li><a href="http://new.ucsilverbali.com/press/" class="menu-image-title-">PRESS</a></li>
								<li><a href="http://new.ucsilverbali.com/jobs/" class="menu-image-title-">JOBS</a></li>
								<li><a href="http://new.ucsilverbali.com/faq/" class="menu-image-title-">FAQ</a></li>
								<li><a href="http://new.ucsilverbali.com/sitemap/" class="menu-image-title-">SITEMAP</a></li>
								<li><a href="http://new.ucsilverbali.com/contact/" class="menu-image-title-">CONTACT</a></li>
							</ul>
						</div>
				</div>
								
			</div>
		</div>
	</div>
</footer>
</body></html>