<?php echo $headerintro; ?>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="sg">i am unique</p>
			</div>
		</div>
	</div>
</section>
<?php echo $footer; ?>