html, body#home {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x:hidden;
}

body#home {
  background-color: transparent;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  perspective: 1400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.myhoder {
  position: absolute;
  width: 100%;
  height: 100%px;
  background-image: url(../images/3-bggradasi.png);
  border-image-source: none;
  border-color: transparent;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat no-repeat;
}

.cloudtop {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 0px;
  left: -2618px;
  width: 3928px;
  height: 559px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.mystatue {
  position: absolute;
  width: 100%;
  height: 768px;
  left: 0px;
  top: 0px;
  margin:0 auto;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cloudlow {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 561px;
  left: -2620px;
  width: 3930px;
  height: 209px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.gwd-gen-dsg0gwdanimation {
  -webkit-animation: gwd-gen-dsg0gwdanimation_gwd-keyframes 50.1s linear 0s infinite forwards;
  -moz-animation: gwd-gen-dsg0gwdanimation_gwd-keyframes 50.1s linear 0s infinite forwards;
  animation: gwd-gen-dsg0gwdanimation_gwd-keyframes 50.1s linear 0s infinite forwards;
}

@-webkit-keyframes gwd-gen-dsg0gwdanimation_gwd-keyframes {
  0% { top: 561px; left: -2620px; width: 3930px; height: 209px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  100% { top: 561px; left: -2620px; width: 3930px; height: 209px; -webkit-transform: translate3d(2610px, 0px, 0px); -webkit-animation-timing-function: linear; }
}
@-moz-keyframes gwd-gen-dsg0gwdanimation_gwd-keyframes {
  0% { top: 561px; left: -2620px; width: 3930px; height: 209px; -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  100% { top: 561px; left: -2620px; width: 3930px; height: 209px; -moz-transform: translate3d(2610px, 0px, 0px); -moz-animation-timing-function: linear; }
}
@keyframes gwd-gen-dsg0gwdanimation_gwd-keyframes {
  0% { top: 561px; left: -2620px; width: 3930px; height: 209px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  100% { top: 561px; left: -2620px; width: 3930px; height: 209px; transform: translate3d(2610px, 0px, 0px); animation-timing-function: linear; }
}
.gwd-gen-bfmrgwdanimation {
  -webkit-animation: gwd-gen-bfmrgwdanimation_gwd-keyframes 50.1s linear 0s infinite forwards;
  -moz-animation: gwd-gen-bfmrgwdanimation_gwd-keyframes 50.1s linear 0s infinite forwards;
  animation: gwd-gen-bfmrgwdanimation_gwd-keyframes 50.1s linear 0s infinite forwards;
}

@-webkit-keyframes gwd-gen-bfmrgwdanimation_gwd-keyframes {
  0% { top: 0px; left: -2618px; width: 3928px; height: 559px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-animation-timing-function: linear; }
  100% { top: 0px; left: -2618px; width: 3928px; height: 559px; -webkit-transform: translate3d(2618px, 0px, 0px); -webkit-animation-timing-function: linear; }
}
@-moz-keyframes gwd-gen-bfmrgwdanimation_gwd-keyframes {
  0% { top: 0px; left: -2618px; width: 3928px; height: 559px; -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -moz-animation-timing-function: linear; }
  100% { top: 0px; left: -2618px; width: 3928px; height: 559px; -moz-transform: translate3d(2618px, 0px, 0px); -moz-animation-timing-function: linear; }
}
@keyframes gwd-gen-bfmrgwdanimation_gwd-keyframes {
  0% { top: 0px; left: -2618px; width: 3928px; height: 559px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); animation-timing-function: linear; }
  100% { top: 0px; left: -2618px; width: 3928px; height: 559px; transform: translate3d(2618px, 0px, 0px); animation-timing-function: linear; }
}
.gwd-gen-dsg0gwdanimation-gen-animation0keyframe {
  top: 561px;
  left: -2620px;
  width: 3930px;
  height: 209px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.gwd-gen-bfmrgwdanimation-gen-animation0keyframe {
  top: 0px;
  left: -2618px;
  width: 3928px;
  height: 559px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}