    <ul class="ct-nav pull-right" id="myTab">
    <?php 
    $currentID = $_GET['path'];
    if (empty($_GET['product_id'])){
		foreach ($categories as $category) { ?>
		<li>
			<?php /*if ($category['category_id'] == $category_id) { ?>
			<?php  <a href="<?php echo $category['href']; ?>" class="active"><?php echo $category['name']; ?></a> 
			<a href="" onclick="category('<?php echo $category['category_id']; ?>');" class="active"><?php echo $category['name']; ?></a>
			<input type="button" value="<?php echo $category['name']; ?>" id="button-cat" class="btn btn-active" onclick="category('<?php echo $category['category_id']; ?>');" />
			<?php } else { ?>
			<?php /* <a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a> 
			<a href="" onclick="category('<?php echo $category['category_id']; ?>');"><?php echo $category['name']; ?></a>
			<input type="button" value="<?php echo $category['name']; ?>" id="button-cat" class="btn btn-active" onclick="category('<?php echo $category['category_id']; ?>');" />
			<?php } ?>
			<?php if ($category['children']) { ?>
			<ul>
			  <?php foreach ($category['children'] as $child) { ?>
			  <li>
				<?php if ($child['category_id'] == $child_id) { ?>
				<?php /* <a href="<?php echo $child['href']; ?>" class="active"> - <?php echo $child['name']; ?></a> 
				<a href="" onclick="category('<?php echo $child['category_id']; ?>');" class="active"> - <?php echo $child['name']; ?></a>
				<input type="button" value="<?php echo $child['name']; ?>" id="button-cat" class="btn btn-primary" onclick="category('<?php echo $child['category_id']; ?>');" />
				<?php } else { ?>
				<?php /* <a href="<?php echo $child['href']; ?>"> - <?php echo $child['name']; ?></a> 
				<a href="" onclick="category('<?php echo $child['category_id']; ?>');" > - <?php echo $child['name']; ?></a>
				<input type="button" value="<?php echo $child['name']; ?>" id="button-cat" class="btn" onclick="category('<?php echo $child['category_id']; ?>');" />
				<?php } ?>
			  </li>
			  <?php } ?>
			</ul>
			<?php } */ ?>
				<input type="button" value="<?php echo $category['name']; ?>" id="button-cat" class="btn <?php echo ( $currentID == $category['category_id'] ? 'btn-active' : '' ); echo " path".$category['category_id']; ?> rmv" onclick="category('<?php echo $category['category_id']; ?>');" />
				<?php if ($category['children']) { ?>
					<ul>
						<?php foreach ($category['children'] as $child) { ?>
						<li>
							<input type="button" value="<?php echo $child['name']; ?>" id="button-cat" class="btn btn-active" onclick="category('<?php echo $child['category_id']; ?>');" />
						</li>
						<?php } ?>
					</ul>
				<?php } ?>
		 </li>
	<?php 
			}
	} else {
		foreach ($categories as $category) { ?>
		<li>
			<a href="<?php echo $category['href']; ?>" id="button-cat" class="btn <?php echo ( $currentID == $category['category_id'] ? 'btn-active' : '' );?>"><?php echo $category['name']; ?></a>
				<?php if ($category['children']) { ?>
					<ul>
						<?php foreach ($category['children'] as $child) { ?>
						<li>
							<a href="<?php echo $child['href']; ?>" id="button-cat" class="btn btn-active"><?php echo $child['name']; ?></a>
						</li>
						<?php } ?>
					</ul>
				<?php } ?>
		</li>
	<?php
		}
	}
	?>
    </ul>
