<div class="ovr-drop-down pull-left col-det" id="ovr-drop-down">
	<ul class="ct-nav" id="myTab">
		<li>
			<span class="btn lilu" id="button-cat" >Collection</span>
			<ul>
			    <?php $currentID = $_GET['path'];
			    	if (empty($_GET['product_id'])){
						foreach ($overview as $category) { 
				?>
					<li>
						<input type="button" value="<?php echo $category['name']; ?>" id="btn-li-ulu" class="btn <?php echo ( $currentID == $category['category_id'] ? 'btn-active' : '' ); echo " path".$category['category_id']; ?> rmv" onclick="collection('<?php echo $category['category_id']; ?>');" />
						<?php if ($category['children']) { ?>
							<ul>
								<?php foreach ($category['children'] as $child) { ?>
								<li>
									<input type="button" value="<?php echo $child['name']; ?>" id="btn-li-ulu" class="btn btn-active" onclick="collection('<?php echo $child['category_id']; ?>');" />
								</li>
								<?php } ?>
							</ul>
						<?php } ?>
					 </li>
				<?php 
						}
					} else {
						foreach ($overview as $category) { ?>
						<li>
							<a href="<?php echo $category['href']; ?>" id="btn-li-ulu" class="btn <?php echo ( $currentID == $category['category_id'] ? 'btn-active' : '' );?>"><?php echo $category['name']; ?></a>
								<?php if ($category['children']) { ?>
									<ul>
										<?php foreach ($category['children'] as $child) { ?>
											<li>
												<a href="<?php echo $child['href']; ?>" id="btn-li-ulu" class="btn btn-active"><?php echo $child['name']; ?></a>
											</li>
										<?php } ?>
									</ul>
								<?php } ?>
						</li>
				<?php
						}
					}
				?>
			</ul>
		</li>
	</ul>
</div>