@font-face {
	font-family: 'MyraidPro';
	src: url('../fonts/MYRIADPRO-REGULAR.OTF'); 
} 
@font-face {
	font-family: 'SouthernAire';
	src: url('../fonts/SouthernAire_Personal_Use_Only.ttf'); 
}
@font-face {
	font-family: 'rage';
	src: url('../fonts/rage.ttf'); 
}
body{
	width :100%;
	margin : auto;
	background: url(../images/gradient.jpg) no-repeat;
	background-size: 100% 100%;
	background-color: #272934 !important;
	font-family: 'MyraidPro' !important;
	color: #fff !important;
}
body#home{
	width: 100%;
	margin: auto;
	background-size: 100%;
	font-family: 'MyraidPro' !important;
	color:#fff;
}
body#detail{
	width: 100%;
	margin: auto;
	background: url(../images/background-detail.png) no-repeat;
	background-size: 100%;
	background-color: #11131a !important;
	font-family: 'MyraidPro' !important;
	color:#fff;	
}
header{
	width:100%;
	z-index: 2;
}
header .container{
	max-width:1030px;
	margin:auto;
}
header .wh-login{
	float: right;
	list-style: none;
	margin: 10px 40px 30px;
}
header .wh-login li{
	background: url(../images/doted.png) no-repeat left;
	margin-left: 10px;
	padding-left: 25px;
}
header .wh-login li a{
	color:#fff !important;
}
header .nav-bg{
	background: rgba(0, 0, 0, 0.56);
	position:relative;
}
header .nav-bg .logo{
	max-width: 100%;
	padding:10px;
}
header .navbar{
	margin-bottom: 0 !important;
}
header .nav-bg .navbar-inverse{
	background-color: transparent;
	border: 0;
}
header .navbar-nav li a{
	color:#fff !important;
	padding:25px;
	margin-right: 0;
}
header .navbar-nav li a:hover{
	background-color:#333 !important;
}
header .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #353535 !important;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: transparent !important;
}
header .dropdown-menu{
	background-color: #353535;
}
header .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: transparent !important;
}
header .mega-menu{
	position: absolute;
	background: #353535;
	min-width: 500px;
	list-style: none;
	padding:10px;
	display:none;
	z-index: 10;
}
header .mega-menu li{
	float:left;
	display:block;
	width:50%;
	margin: 15px 0 15px 0;
}
header .mega-menu li > a{
	margin: 0;
	padding: 0;
}
header .mega-menu li a .cont{
	float: right;
	width: 73%;
}
header .mega-menu li a .cont span{
	display:block;
}
header .mega-menu li a img{
	float:left;
	width: 20%;
}
header .dropdown:hover .mega-menu{
	display: block;
}
section .bn {
	max-width: 1030px;
}
section .bn .carousel{
	position:absolute !important;
}
section .bn .carousel .item img{
	margin: auto;
}
/* content */
section .container .cat-top {
	list-style: none;
	margin:3em;
}
section .container .cat-top li{
	display:inline-block;
	padding:10px;
	margin-right: 50px;
}
section .container .cat-top .active a{
	color:#fff !important;
}
section .container .cat-top li a{
	color:#585858 !important;
	font-size: 40pt;
	z-index: 10;
	font-family: 'SouthernAire';
}
section .container .cat-top li a:hover{
	color:#fff !important;
	transition: 0.3s all ease-in-out;
	text-decoration: none;
}
/* stories */
section .container .sg{
	text-align: center;
	margin-top: 2.1em;
	color: #919393;
	margin-bottom: 3.9em;
	font-family: 'rage';
	font-size: 60pt;
}
#owl-demo{
	position:relative;
}
#owl-demo .item .name{
	margin-left: 70px;
	font-weight: 100;
	color:#e1e1e2;
}
#owl-demo .item .name.last{
	text-align: right;
	margin-right: 5em;
	font-family: tahoma;
	letter-spacing: 1px;
}
#owl-demo .item .title{
	text-align: center;
	font-size: 40pt;
	color:#909393;
	font-family: 'rage';

}
#owl-demo .item .reg{
	font-size: 12pt;
	font-family: none;
	position: absolute;
	margin-top: 17px;
	margin-left: 4px;
}
#owl-demo .item img{
 	display: block;
	margin: auto;
	margin: 20px 20px 20px 70px;
	max-width: 100%;
}
#owl-demo .item .txt-content{
	margin: 3em 10em 0 0;
	font-weight: 100;
	color:#e1e1e2;
	font-size: 15px;
}
#owl-demo .item .txt-content  h2{
	font-size: 30pt;
	font-family: 'SouthernAire';
	margin-top: -1em;
}
#owl-demo .item .txt-content ul{
	list-style: none;
	padding:0 1em 0 1em;
}
#owl-demo .item .txt-content.last{
	margin: 3em 5em 1em 5em;
}
#owl-demo .item .txt-content ul li:before{
	content:"-";
	position:relative;
	margin-left: -10px; /* optional, for multiline li element */
	left: -5px;
}

/* design */
#owl-demo2{
	position:relative;
	margin-bottom: 15px;
}
#owl-demo2 .tl{
	float:right;
	margin: -55px 0;
}
#owl-demo2 .tl .ct-i{
	padding: 25px;
}
#owl-demo2 .item .reg {
	font-size: 8pt;
	font-family: none;
	position: absolute;
	margin-top: -7px;
	margin-left: 3px;
}
#owl-demo2 .item img{
 	display: block;
	margin: auto;
	margin: 20px 20px 20px 70px;
	max-width: 100%;
}
#owl-demo2 .item .txt-content{
	margin: 3em 10em 0em 4em;
	font-weight: 100;
	color:#e1e1e2;
	font-size: 15px;
}
#owl-demo2 .item .txt-content h2{
	font-size: 30pt;
	font-family: 'SouthernAire';
	margin-top: -1em;
}
#owl-demo2 .item .round_img{
	list-style: none;
	padding:0;
	margin-left: 50px;
}
#owl-demo2 .item .round_img > li{
	display:inline-block;
	padding: 0 20px 15px;
}
#owl-demo2 .item .round_img.last > li{
	margin: 0 3em 0 1em;
}
#owl-demo2 .item .round_img.last > li span{
	font-family: tahoma;
	line-height: 2;
}
#owl-demo2 .item .round_img.last > li span .ct-i{
	padding: 25px;
}
#owl-demo2 .item .round_img > li > img{
	margin: 0;
}

/* process */

#owl-demo3{
	position:relative;
	margin-bottom: 15px;
}
#owl-demo3 .item .reg {
	font-size: 8pt;
	font-family: none;
	position: absolute;
	margin-top: -7px;
	margin-left: 3px;
}
#owl-demo3 .item img{
 	display: block;
	margin: auto;
	margin: 20px 20px 20px 70px;
	max-width: 100%;
}
#owl-demo3 .item .txt-content{
	margin: 3em 10em 0em 4em;
	font-weight: 100;
	color:#e1e1e2;
	font-size: 15px;
}
#owl-demo3 .item .txt-content h2{
	font-size: 30pt;
	font-family: 'SouthernAire';
	margin-top: -1em;
}
#owl-demo3 .item .round_img{
	list-style: none;
	padding:0;
	margin-left: 50px;
}
#owl-demo3 .item .round_img > li{
	display:inline-block;
	padding: 0 20px 15px;
}
#owl-demo3 .item .round_img.last > li{
	margin: 0 3em 0 1em;
}
#owl-demo3 .item .round_img.last > li span{
	font-family: tahoma;
	line-height: 2;
}
#owl-demo3 .item .round_img.last > li span .ct-i{
	padding: 25px;
}
#owl-demo3 .item .round_img > li > img{
	margin: 0;
}

/* support */
#owl-demo4{
	position:relative;
	margin-bottom: 15px;
}
#owl-demo4 .item .reg {
	font-size: 8pt;
	font-family: none;
	position: absolute;
	margin-top: -7px;
	margin-left: 3px;
}
#owl-demo4 .item img{
 	display: block;
	margin: auto;
	margin: 20px 20px 20px 70px;
	max-width: 100%;
}
#owl-demo4 .item .txt-content{
	margin-left:5em;
	margin-right: 5em;
	font-weight: 100;
	color:#e1e1e2;
	font-size: 15px;
}
#owl-demo4 .item .txt-content h2{
	font-size: 30pt;
	font-family: 'SouthernAire';
	margin-top: -1em;
}

/* indicator */
#owl-demo .owl-pagination{
	text-align: right;
	margin-right: 5em;
	display:none;
}
#owl-demo2 .owl-pagination{
	text-align: right;
	margin-right: 5em;
	display:none;
}
#owl-demo3 .owl-pagination{
	text-align: right;
	margin-right: 5em;
	display:none;
}
#owl-demo4 .owl-pagination{
	text-align: right;
	margin-right: 5em;
	display:none;
}
.owl-theme .owl-controls .owl-page span {
	background-color: transparent !important;
}
.owl-theme .owl-controls .owl-page.active{
	background:#ff0000 !important;
}
.owl-theme .owl-controls .owl-page{
	background: #585858;
	margin-right: 7px;
	border-radius: 21px;
	width: 15px;
	height: 15px;
}

.owl-buttons .owl-prev{
	background:url(../images/left.png) no-repeat center !important;
	text-indent: -9000px;
	text-transform: capitalize;
	position: absolute;
	left: 0%;
	bottom:50%;
	top:0;
}
.owl-buttons .owl-next{
	background:url(../images/right.png) no-repeat center !important;
	text-indent: -9000px;
	text-transform: capitalize;	
	position: absolute;
	right: 0%;
	bottom:50%;
	top:0;
}


/* colection */
section .cl{
	max-width: 1018px;
	margin-top: 8em;
}
section .tab-bg{
	width: 100%;
	background: rgba(0, 0, 0, 0.41);
	position: relative;
	margin: 18em 0 0 8px;
	padding-right: 2px;
	min-height: 44px;
}
section .tab-bg .nav-tabs{
	border: 0;
}
section .tab-bg .nav-tabs > li{
	min-width: 200px;
}
section .tab-bg .nav-tabs > li > a{
	color:#FFF !important;
	border-radius: 0 !important;
	min-height: 43px;
	text-align: center;
	margin-right: 0;
	border:0;
}
section .tab-bg .nav-tabs>li>a:hover {
	border-color:0 !important;
	background-color: #fff !important;
	color:#000 !important;
}
section .tab-bg .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #000 !important;
 	border: 0;
	cursor: pointer;
}
section .tab-bg .tab-content{
	background:#fff;
	color:#000 !important;
	padding:24px;
}
section .ct-nav{
	list-style: none;
	padding: 12px 10px 0px 0;
	text-align: right;
}
section .ct-nav > li{
	display:inline-block;
	margin-left: 15px;
}
section .ct-nav > li > a{
	background:#353535;
	color:#fff;
	padding:7px;
	border-radius: 5px;
}
section .ct-nav > li > a:hover{
	background: #ffcc00;
	color:#000;
	transition: 0.2s all ease-in;
	text-decoration: none;
}
section .ct-nav .active a{
	background: #ffcc00 !important;
	color:#000 !important;
}

section .tab-bg .ct-nav>li.active>a, .ct-nav>li.active>a:hover, .ct-nav>li.active>a:focus {
	background: #ffcc00 !important;
	color:#000 !important;
	cursor: pointer;
}
section .tab-bg .tab-content .cr{
	margin-top: 3em;
}
section .tab-bg .tab-content .sadhow{
	position: absolute;
	margin-top: 32px;
	right: 20%;
	width:100%;
}
section .tab-bg .tab-content .sadhow.sec{
	position: absolute;
	margin-top: 23px;
	right: 2%;
	width: 100%;
}
section .tab-bg .tab-content .cr.l{
	margin-left: 5em;
}
section .tab-bg .tab-content .txr{
	margin-top: 7em;
	font-size: 16px;
}
section .tab-bg .tab-content .txr.lf{
	text-align: right;
}

section .tab-bg .tab-content.sec{
	padding:0;
	margin-left: 0;
	margin-right: 0;
}
section .tab-bg .tab-content .tab-pane{
	margin-bottom: 30px;
}
section .tab-bg .tab-content .box{
	width:300px;
	float:left;
	text-align: center;
	margin-top: 3em;
}
section .tab-bg .tab-content .box{
	background:url(../images/sadhow2.png) no-repeat top;
	background-position-y: -4%;
	margin-right: 19px;
	padding:0;
}

section .ctp {
	width:100%;
}
#pagin {
    clear: both;
    padding:0;
	list-style:none;
	float:right;
    margin: 30px 36px 0 0;
}
#pagin li {
    float:left;
    margin-right:10px;
}
#pagin li a {
    display:block;
    background:#14161e;
    padding:10px;
    color:#fff;
}
#pagin li a.current {
    color:black;
    background:#ffcc00;
}
#pagin li a:hover {
    background:#ffcc00;
    color:#000;
    text-decoration: none;
}
#pagin li a:active,#pagin li a.current:active {
    -webkit-box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(255,255,255,1) !important;
    -moz-box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(255,255,255,1) !important;
    box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.5),0px 1px 1px 0px rgba(255,255,255,1) !important;
}
#pagin li a.current:hover {
    background:#ffcc00;
}

section .code-bar{
	width:100%;
	background: rgba(131, 129, 129, 0.72);
	margin-top: 1em;
}
section .code-bar > .col-md-3{
	padding-left: 6px;
}
section .code-bar .cod{
	width:100%;
	background:#fff;
	color:#000;
	padding:11px;
	text-align: center;	
}
section .content-detail{
	width:100%;
	background:#fff;
	margin-top:10px;
	padding:20px 0 20px 20px;
	color:#000;
}
section .content-detail .dt-img{
	width:100%;
}
section .content-detail .dt-img > .share{
	position:absolute;
	right: 30px;
	bottom: 15px;
	background: url(../images/share.jpg) no-repeat;
	background-size:100% 100%;
	width:72px;
	height:30px;
}
section .content-detail .co-p {
	text-align: right;
	margin-right: 25px;
}
section .content-detail  table{
	margin-top: 10px;
	margin-bottom: 2.3em;
}
section .content-detail  table td{
	padding:0px 0 6px 0;
}
section .content-detail .dt-img > img{
	max-width: 100%;
}
section .content-detail .slide-content{
	background: #333;
	margin-left: -30px;
	margin-top: 41px;
	margin-right: 15px;
	padding: 6px;
}
section .content-detail .col-md-6{
	padding-right: 0;
	max-height: 423px;
}
section .content-detail .col-md-12{
	padding-right: 0;
}
section .content-detail #thumb .item{
  	margin: 3px;
}
section .content-detail #thumb .item img{
	display: block;
	width: 100%;
	height: auto;
}
section .content-detail .ww{
	position: absolute;
	top: 10px;
	left: 15px;
	font-weight: bold;
}
section .content-detail #carousel{
	margin: auto !important;
	width:330px !important;
}
section .content-detail .ui-carousel{
	margin: auto !important;
	width:330px !important;
}
section .content-detail .slide-content #carousel img{
	margin-right: 10px !important;
}
#ui-carousel-next, #ui-carousel-prev {
	width: 60px;
	height: 100px;
	background: url(../images/prev.png) center center no-repeat;
	display: block;
	position: absolute;
	top: 50px;
	z-index: 100;
}
#ui-carousel-next {
	right: 35px;
	background-image: url(../images/next.png);
}
#ui-carousel-prev {
	left: 0;
}
#ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}		

section .map{
	text-align: center;
	margin-left: 8em;
}
section .selector{
	background: #f2f2f2;
	padding:10px;
}
section .selector > ul{
	list-style: none;
	padding:0;
}
section .selector > ul .dropdown{
	padding: 5px;
	width:100%;
	border: 1px solid #ddd;
	background-color: #fff;
}
section .selector > ul .dropdown > a:hover{
	text-decoration: none;
}
section .selector > ul .dropdown > a:focus{
	text-decoration: none;
}
section .selector > ul .dropdown > .dropdown-menu{
	width:100%;
}
/* c-service */
section .cl h3{
	margin-top: 0;
}
section .cs-l{
	list-style: none;
	padding:0;
	background: url(../images/right-shadow.png) no-repeat right;	
	min-height: 10em;
}
section .cs-l > .dr > a{
	color: #000 !important;
	font-size: 16px;
}
section .h-dr{
	padding-top: 10px;
	list-style:none;
}
section .h-dr > li{
	border-bottom: 1px solid #ddd;
	max-width: 230px;
	padding: 5px;
}
section .h-dr > li:before{
	content:"»";
	position:relative;
	margin-left: -10px; /* optional, for multiline li element */
	left: -5px;
}
section .h-dr > li > a{
	color: #4B4A4A;
	padding:10px;
}

/* end section */

footer{
	width:100%;
}
footer .main-footer{
	max-width:1030px;
	margin:auto;
	background: #0d0e13;
	padding: 5px 5px 0 5px;
	margin-top: 1em;
}
footer .main-footer .social-media{
	list-style: none;
	padding:0;
	margin-bottom: 0 !important;
}
footer .main-footer .social-media li{
	display:inline-block;
	padding:3px;
}
footer .footer-nav{
	list-style: none;
	padding:0;
	text-align: right;
	margin-bottom: 0 !important;
}
footer .footer-nav li{
	display:inline-block;
	padding:0 10px;
	border-right: 1px solid #fff;
}
footer .footer-nav li:last-of-type{
	border:0;
}
footer .footer-nav li a{
	color:#fff !important;
}

/** Media Query **/
.row iframe {
	max-width: 100%;
}
@media (max-width:992px) {
section .container .sg {
    margin-top: 2.5em;
    margin-bottom: 2em;
}
section .tab-bg {
	margin: 16.8em 0px 0px 8px;
}
}
@media (max-width:768px) {
section .tab-bg {
	margin: 4.8em 0px 0px 8px;
}
}
@media (max-width:468px) {
section .container .sg {
    margin-top: 2.4em;
    margin-bottom: 1.2em;
}
}
@media (max-width:404px) {
header .wh-login {
    margin: 30px 10px 30px 10px;
}
section .container .sg {
    margin-top: 1em;
    margin-bottom: 1em;
}
footer .main-footer .social-media {
    text-align: center;
}
footer .footer-nav {
	text-align: center;
	margin-left: 0px;
}	
}