#ring .box-product .box a{
	display: block;
	position: relative;
}
#ring .box-product .box a .hover{
	float: left;
	margin-left: 30px;
	width: 234px;
	height: 195px;
	overflow: hidden;
	/*margin-top: 6px;*/
}
#ring .box-product .box a:hover .hover .hover-content{
	margin-top: 0px;
}
#ring .box-product .box a .hover .hover-content{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	width: 234px;
	height: 195px;
	background-color: rgba(0,0,0, .8);
	color: white;
	padding: 10px;
	margin-top: -195px;
}
#ring .box-product .box a .hover .hover-content p{
	height: 95px;
}
#ring .box-product .box a .hover img{
	width: 234px;
	height: 195px;
}
.col-det{
	padding: 13px 10px 5px 10px;
}
.col-det ul{
	z-index: 1!important;
}
.col-det ul li:hover > ul{
	/*display: -webkit-inline-box !important;*/
}
.col-det .ct-nav li ul li{
	/*margin-top: 45px !important;
	margin-bottom: 10px !important;
	margin-left: 0px;
	margin-right: 10px;*/
}
.options{
	padding-left: 20px;
	width: 400px;
}
#cart-mobile{
	display: none !important;
}
#cart-mobile h4{
	color: #FFCC00;
}
#cart-mobile a:hover{
	text-decoration: none;
}
#btn-li-ulu{
	border-radius: 0px !important;
	padding: 15px !important;
	margin-top: 5px !important;
	margin-bottom: 0px !important;
	background: #14161E !important;
	color: white !important;
	font-weight: 400 !important;
	text-align: center !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	font-size: 14px !important;
}
#btn-li-ulu:hover {
background-color: #FFCC00 !important;
color: black !important;
}
.floatright{float:none;}

/*Update B Ryu*/
@media only screen and (max-width: 1180px) and (min-width: 993px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 974px !important;
	    margin-left: -7px !important; 
	    /*right: -127px !important;*/
	}
	#carousel-example-generic {
		/*width: 967px !important;*/
	}
}
@media only screen and (max-width: 992px) and (min-width: 860px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 753px !important;
	    margin-left: -8px !important; 
	    /*right: -127px !important;*/
	}
	#carousel-example-generic {
		/*bottom: 224px !important;*/
		margin-top: 70px !important;
		margin-bottom: -19px !important;
		/*width: 849px !important;*/
	}
	.container.cl {
	    margin-top: 90px !important;
	}
}
@media only screen and (max-width: 859px) and (min-width: 800px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 750px !important;
	    margin-left: -8px !important; 
	    right: -127px !important;
	}
	#carousel-example-generic {
		/*margin-bottom: 224px !important;*/
		/*width: 967px !important;*/
		margin-top: 70px !important;
		margin-bottom: -19px !important;
	}
	.container.cl {
	    margin-top: 95px !important;
	    /*margin-top: 265px !important;*/
	}
	section .tab-bg .tab-content .cr {
	    margin-left: 6cm !important;
	    margin-top: 1.3cm !important;
	}
	section .tab-bg .tab-content .sadhow {
	    margin-top: 32px !important;
	    position: absolute !important;
	    right: 19% !important;
	    width: 70% !important;
	}
	section .tab-bg .tab-content .cr.l {
	    margin-left: 8em !important;
	}
}
@media only screen and (max-width: 799px) and (min-width: 768px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 750px !important;
	    margin-left: -8px !important; 
	    right: -127px !important;
	}
	#carousel-example-generic {
		/*margin-bottom: 224px !important;*/
		/*width: 967px !important;*/
		margin-top: 70px !important;
		margin-bottom: -19px !important;
	}
	.container.cl {
	    /*margin-top: 95px !important;*/
	    margin-top: 265px !important;
	}
	section .tab-bg .tab-content .sadhow {
	    margin-top: 28px !important;
	    position: absolute !important;
	    right: 27% !important;
	    width: 48% !important;
	}
	section .tab-bg .tab-content .sadhow.sec {
	    margin-top: 23px !important;
	    position: absolute !important;
	    right: 2% !important;
	    width: 100% !important;
	}
	section .tab-bg .tab-content .cr.l {
	    margin-left: 8em !important;
	}
	section .tab-bg .tab-content .cr {
	    margin-left: 6.7cm !important;
    	margin-top: 3em !important;
	}

}
@media only screen and (max-width: 767px) and (min-width: 601px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 750px !important;
	    margin-left: -8px !important; 
	    right: -127px !important;
	}
	#carousel-example-generic {
		margin-top: 70px !important;
		margin-bottom: -19px !important;
	}
	.container.cl {
	    margin-top: 90px !important;
	}

	.center-logo{
		margin: 20px 0px !important;
		float: none !important;
		text-align: center !important;
	}

	.center-logo .logo-uc{
		width: 250px !important;
		height: auto !important;
	}

	#carousel-example-generic img{
		width: 316px !important;

	}
	#notification{
		margin-top: 150px !important;
	}
	.navbar-toggle{
		padding: 20px 25px !important; 
	}
	section .tab-bg .nav-tabs > li{
		min-width: 305px !important;
	}
	section .ct-nav > li{
		margin-left: 0px !important;
	}
	section .ct-nav{
		text-align: center !important;
	}
}
@media only screen and (max-width: 600px) and (min-width: 500px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 972px !important;
	    margin-left: -8px !important; 
	    right: -127px !important;
	}
	#carousel-example-generic {
		margin-top: 48px !important;
		margin-bottom: -19px !important;
	}
	.container.cl {
	    margin-top: 326px !important;
	}
	section .tab-bg .tab-content .sadhow {
	    margin-top: 36px !important;
	    position: absolute !important;
	    right: 26% !important;
	    width: 50% !important;
	}
	section .tab-bg .tab-content .cr {
	    margin-left: 9.6cm !important;
    	margin-top: 4em !important;
	}
	section .tab-bg .tab-content .cr.l {
	    margin-left: 15em !important;
    	margin-top: 1.8cm !important;
	}
	section .tab-bg .tab-content .sadhow.sec {
	    margin-top: 36px !important;
	    position: absolute !important;
	    right: 5% !important;
	    width: 100% !important;
	}

	.center-logo{
		margin: 0 !important;
		float: none !important;
		text-align: center !important;
	}

	.center-logo .logo-uc{
		max-width: 250px !important;
		height: auto !important;
	}

	/*#carousel-example-generic img{
		width: 116px !important;
	}*/
}
@media only screen and (max-width: 499px) and (min-width: 320px) {
	#carousel-example-generic > img {
	    max-width: 100% !important;
	    width: 972px !important;
	    margin-left: -8px !important; 
	    right: -127px !important;
	}
	#carousel-example-generic {
		margin-top: 65px !important;
		margin-bottom: -19px !important;
	}
	.container.cl {
	    margin-top: 200px !important;
	}

	.center-logo{
		margin: 20px 0px !important;
		float: none !important;
		text-align: center !important;
	}

	.center-logo .logo-uc{
		width: 100% !important;
		height: auto !important;
	}

	#carousel-example-generic img{
		width: 972px !important

	}
	#notification{
		margin-top: 150px !important;
	}
	.navbar-toggle{
		padding: 20px 25px !important; 
	}
	/*.tab-bg{
		width: 359px !important;
	}*/
	header .mega-menu{
		min-width: 0px !important;
	}
	section .tab-bg .nav-tabs > li{
		min-width: 175px !important;
	}
	section .ct-nav > li{
		margin-left: 0px !important;
	}
	section .ct-nav{
		text-align: center !important;

	}
	section .tab-bg{
		width: 312px !important;
		margin: 0px 0px 0px 8px !important;
		padding-right: 8px !important;
	}
	section .ct-nav > li{
		margin: 5px !important;
	}
}
@media only screen and (max-width: 320px) and (min-width: 0px) {
	#carousel-example-generic > img {
	    margin-left: -8px !important;
	    max-width: 100% !important;
	    right: -127px !important;
	    width: 970px !important;
	}
	
	#carousel-example-generic {
		/*margin-bottom: 224px !important;*/
		/*width: 967px !important;*/
		margin-bottom: -19px !important;
    	margin-top: 49px !important;
	}
	.container.cl {
	    /*margin-top: 95px !important;*/
	    /*margin-top: 332px !important;*/
	    margin-top: 4.6cm !important;
	}

	.center-logo{
		margin: 20px 0px !important;
		float: none !important;
		text-align: center !important;
	}

	.center-logo .logo-uc{
		width: 250px !important;
		height: auto !important;
	}

	#carousel-example-generic img{
		width: 316px !important;
		
	}
	#notification{
		margin-top: 205px !important;
		margin-left: 15px !important;
		margin-right: 15px !important;
	}
	.navbar-toggle{
		padding: 20px 25px !important; 
	}
	section .tab-bg .nav-tabs > li{
		min-width: 305px !important;
	}
	section .ct-nav > li{
		margin-left: 0px !important;
	}
	section .ct-nav{
		text-align: center !important;
	}
	section .tab-bg .tab-content{
		padding: 24px 1px 0px 0px !important;
	}
	#pagin{
		margin: 20px 38px 0 30px !important;
	}
	#pagin li{
		margin: 5px 4px 5px 4px !important ; 
	}
	header .mega-menu li{
		width: 49% !important;
		margin: 15px 0 15px 0 !important;
	}
	section .code-bar{
		margin-top: 4em !important;
	}
	#quantity{
		width: 45% !important;
	}
	.form-group #button-cart{
		margin-top: -1.5cm !important;
		margin-left: 4cm !important;
	}
	section .content-detail #carousel{
		width: 278px !important;
	}
	section .content-detail .slide-content{
		margin-left: -20px !important;
		margin-right: -27px !important;
	}
	#ui-carousel-next, #ui-carousel-prev{
		width: 25px !important;
	}
	#ui-carousel-prev{
		left: -5px !important;
	}
	#ui-carousel-next{
		right: -26px !important;
	}
	/*body#detail{
		width: 92% !important;
	}*/
	section .ct-nav{
		padding: 12px 20px 0px 20px !important;
	}
	form .content{
		margin-bottom: 50px !important;
	}
	/*.ovr-description p span img{
		width: 235px !important;
		margin: 10px 10px 10px -20px !important;
	}*/
	.buttons{
		margin-bottom: 50px !important;
	}
	.alert{
		margin-bottom: 0px !important;
		margin-top: 50px !important;
	}
	#cart{
		display: none !important;
	}
	#cart-mobile{
		display: block !important;
	}
	.floatright{float:right !important;}
}
/** Plus plus */
@media (min-width: 480px) {
    [class*="push"], [class*="pull"] {
        position: relative;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .push1 { left: 62px; }
    .push2 { left: 124px; }
    .push3 { left: 186px; }
    .push4 { left: 248px; }
    .push5 { left: 310px; }
    .push6 { left: 372px; }
    .push7 { left: 434px; }
    .push8 { left: 496px; }
    .push9 { left: 558px; }
    .push10 { left: 620px; }
    .push11 { left: 682px; }
    .pull1 { left: -62px; }
    .pull2 { left: -124px; }
    .pull3 { left: -186px; }
    .pull4 { left: -248px; }
    .pull5 { left: -310px; }
    .pull6 { left: -372px; }
    .pull7 { left: -434px; }
    .pull8 { left: -496px; }
    .pull9 { left: -558px; }
    .pull10 { left: -620px; }
    .pull11 { left: -682px; }
}
@media (min-width: 980px) and (max-width: 1199px) {
    .push1 { left: 80px; }
    .push2 { left: 160px; }
    .push3 { left: 240px; }
    .push4 { left: 320px; }
    .push5 { left: 400px; }
    .push6 { left: 480px; }
    .push7 { left: 560px; }
    .push8 { left: 640px; }
    .push9 { left: 720px; }
    .push10 { left: 800px; }
    .push11 { left: 880px; }
    .pull1 { left: -80px; }
    .pull2 { left: -160px; }
    .pull3 { left: -240px; }
    .pull4 { left: -320px; }
    .pull5 { left: -400px; }
    .pull6 { left: -480px; }
    .pull7 { left: -560px; }
    .pull8 { left: -640px; }
    .pull9 { left: -720px; }
    .pull10 { left: -800px; }
    .pull11 { left: -880px; }
}
@media (min-width: 1200px) {
    .push1 { left: 100px; }
    .push2 { left: 200px; }
    .push3 { left: 300px; }
    .push4 { left: 400px; }
    .push5 { left: 500px; }
    .push6 { left: 600px; }
    .push7 { left: 700px; }
    .push8 { left: 800px; }
    .push9 { left: 900px; }
    .push10 { left: 1000px; }
    .push11 { left: 1100px; }
    .pull1 { left: -100px; }
    .pull2 { left: -200px; }
    .pull3 { left: -300px; }
    .pull4 { left: -400px; }
    .pull5 { left: -500px; }
    .pull6 { left: -600px; }
    .pull7 { left: -700px; }
    .pull8 { left: -800px; }
    .pull9 { left: -900px; }
    .pull10 { left: -1000px; }
    .pull11 { left: -1100px; }
}
 /** end plus plus **/
/*END Update B Ryu*/

/*adi*/
.lilu{
	margin-bottom: 5px !important;
	background: url('../image/arrow-down.png') 97% 60% no-repeat !important;
	background-color: #14161E !important;
}
.col-det .ct-nav li .lilu:hover{
	background-color: #FFCC00 !important;
}
#button-cat.btn{
	background: #14161E;
	color: white;
}
#button-cat.btn:hover{
	background-color: #FFCC00;
	color: black;
}
#button-cat.btn.btn-active{
	background-color: #FFCC00;
	color: black;
}
.content-detail #carousel.ui-carousel{
	height: 80px !important;
}
.content-detail #ui-carousel-next, .content-detail #ui-carousel-prev{
	height: 80px !important;
}

/* arya */
.box-product-collection .box a{
	display: block;
	position: relative;
}
.box-product-collection .box a .hover{
	float: left;
	margin-left: 30px;
	width: 234px;
	height: 195px;
	overflow: hidden;
	/*margin-top: 6px;*/
}
.box-product-collection .box a:hover .hover .hover-content{
	margin-top: 0px;
}
.box-product-collection .box a .hover .hover-content{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	width: 234px;
	height: 195px;
	background-color: rgba(0,0,0, .8);
	color: white;
	padding: 10px;
	margin-top: -195px;
}
.box-product-collection .box a .hover .hover-content p{
	height: 95px;
}

.box-product-collection .box a .hover img{
	width: 234px;
	height: 195px;
}

#ovr-drop-down ul{
	padding:0;
	#margin:0;
	list-style: none;
	position: relative;
	display:block;
	z-index:990;
	/*background: url('../image/arrow-down.png') 100% 50% no-repeat;*/
}
	
#ovr-drop-down ul li {
	float:left;
	/*display:list-item;*/
	display:-webkit-inline-box;
	list-style: none;
	}

#ovr-drop-down ul li input {
	display:block;
}
	
li > input:after { content: ''; } 
li > input:only-child:after { content: ''; }  	
	
	
#ovr-drop-down ul ul {
	display: none;
	position: absolute;
	top: 25px;
	left: 17px;
	margin-top: 8px;
}
	
#ovr-drop-down ul li:hover > ul {
	display:list-item;
}
	
#ovr-drop-down ul ul li {
	float:left;
	position: relative;
	border-bottom:none;
	margin-top: 0px;
	/*margin-bottom: -24px;*/
}

#ovr-drop-down ul ul ul li {
	position: absolute relative;
	top:-58px; 
	left:170px;
}

.header-bar ul li {
display: inline;
}

div.header-bar {
margin: 10px 40px 30px;
}

#search {
float: right;
color:#000;
}

#cart {
	position: absolute;
	z-index: 999;
	/*min-width: 300px;*/
	float: left;
}
#cart h4 {
color:#FFCC00;
}
#cart .heading {
	float: left;
	position: relative;
	z-index: 999;
}
#cart .heading a {
	color: #38B0E3;
	text-decoration: none;
}
#cart .heading a span {
	background: url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;
}
#cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	background: #FFF;
	color:#000;
}
#cart.active .heading {
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#cart.active .content {
	display: block;
}

.button-search {
position: absolute;
#left: 0px;
background: url('../image/button-search.png') center center no-repeat;
width: 30px;
height: 34px;
border-right: 1px solid #CCCCCC;
cursor: pointer;
}

input.form-control.src {
padding-left: 31px;
}

label {
font-weight: normal !important;
}

.box-product-src .box a{
	display: block;
	position: relative;
}
.box-product-src .box a .hover{
	float: left;
	margin-left: 30px;
	width: 234px;
	height: 195px;
	overflow: hidden;
	/*margin-top: 6px;*/
}
.box-product-src .box a:hover .hover .hover-content{
	margin-top: 0px;
}
.box-product-src .box a .hover .hover-content{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	width: 234px;
	height: 195px;
	background-color: rgba(0,0,0, .8);
	color: white;
	padding: 10px;
	margin-top: -195px;
}
.box-product-src .box a .hover .hover-content p{
	height: 95px;
}

.box-product-src .box a .hover img{
	width: 234px;
	height: 195px;
}

#pagin li .crot {
display: block;
background: #14161e;
padding: 10px;
color: #fff;
}

.warning, .success{
background: #5E5E5E;
margin-bottom: 20px !important;
max-width: 988px;
margin-left: 182px;
margin-top: 90px;
}