				<?php echo $header; ?>
				<section>
					<div class="container cl">
					  <div class="content-detail clearfix">
						
						<?php
						var_dump($products);
						foreach ($products as $product) { ?>						
						<div class="row">
							<div class="col-md-12">
								<p>RINGS | SMC43AWC</p>
							</div>
						</div>
						<div class="row">
							
							<?php if ($product['thumb']) { ?>
							<div class="col-md-6">
								<div class="dt-img">
									<img src="<?php echo $product['thumb']; ?>">
									<a href="<?php echo $image['popup']; ?>" class="share"></a>
								</div>
							</div>
							<?php } ?>
							
							<div class="col-md-6">
								<div class="col-md-12">
									<div class="co-p">SMC43AWC</div>
								</div>
								<div class="col-md-12">
									<table>
										<tr>
											<td><?php echo $description; ?></td>
										</tr>
									</table>
								</div>
								<div class="col-md-12">
									<p class="ww">people also see this</p>
									<div class="slide-content clearfix">
										<div id="container">
										<div id="carousel">
											<img src="images/thumb1.jpg" />
											<img src="images/thumb2.jpg" />
											<img src="images/thumb3.jpg" />
											<img src="images/thumb1.jpg" />
											<img src="images/thumb2.jpg" />
											<img src="images/thumb3.jpg" />
										</div>
										<a href="#" id="ui-carousel-next"><span>next</span></a>
										<a href="#" id="ui-carousel-prev"><span>prev</span></a>
									</div>
									</div>
								</div>
							</div>
						</div>
						<?php } ?>
						
					  </div>						
					</div>
				</section>
				<?php echo $footer; ?>